#col-left {
  width: auto;
}


/*
*  CONTAINER HEADER
*/
#list-container-header {

  text-align: right;
  padding-bottom: 8px;

  .lists {
    display: inline;

    select {
      width: 200px;
    }
  }

  .list-search {
    display: inline;
    position: relative;

    @search-input-width: 140px;

    input {
      width: @search-input-width;
    }

    // Search list

    ul {
      position: absolute;
      top: 9px;
      left: 0;
      margin-left: 1px;
      z-index: 49;
      width: @search-input-width;
    }

    ul li {
      list-style: none;
      padding: 3px 0;
      text-indent: 4px;
      text-align: left;
      margin: 0;
      display: none;
      cursor: pointer;
      background: #fff;
      .text-wrap();
    }

    ul li:hover {
      background: #eee;
    }
  }

}

/*
* CONTAINER BODY
*/
#list-container-body {
  height: 800px;
  padding: 5px;
  background: #ddd;
  position: relative;
  margin: 6px 0;

  .ajax-loader.large {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -40px 0 0 -40px;
    color: rgba(0,0,0, .3);
  }
}

/*
* CONTAINER FOOTER
*/
#list-container-footer {

  .refresh-lists {
    float: right;
    line-height: 20px;

    i {
      margin-left: 3px;
    }
  }

}


/*
* ARTICLE LISTS
*/
@header-height: 28px;
@footer-height: 34px;
.list-inner-margins() {
  width: 96%;
  margin: 0 2%;
}

/* The css for .article can't be nested for drag-drop to work */
.article {
  background: rgba(0,0,0, .04);
  min-height: 28px;
  padding: 0;
  margin:0 4px 4px;
  cursor: pointer;
  position: relative;

  .article-title-container {
    .text-wrap();
    padding: 6px 8px;
    margin-right: 15px;

    .fa {
      margin-right: 4px;
    }
    .fa.fa-calendar {
      margin-right: 6px;
    }
  }

  .remove {
    display: none;
    position: absolute;
    top: 5px;
    right: 8px;
    font-weight: bold;
    font-size: 170%;
    color: rgba(0,0,0, .4);
  }

  .streamer-indicator {
    display: inline-block;
    height: 5px;
    width: 5px;
    margin-right: 3px;
    vertical-align: 2px;
  }

  .future-push-date {
    background: lightyellow;
    font-size: 9px;
    display: inline-block;
    padding: 3px 5px;
    border-radius: 150px;
    font-style: normal;
    margin-right: 5px;
    color: #111;
    vertical-align: 2px;
  }
}

.article.editing,
.article.editing:hover {
  background: #6BA6C2;
  background: #888;
  color: #FFF;
}

.article:hover {
  background: #F8F8F8;
  color: #000;

  .remove {
    display: block;
  }
  .remove:hover {
    color: #111;
  }
}

 // Section dividers
.article.section-divider,
.article.section-divider.editing,
.article.section-divider.editing:hover {
  background: #6C8DA3;
  background: #666;
  padding: 0px;
  color: rgba(255,255,255, .85) !important;
  font-weight: bold;
  min-height: 0;

  .article-title-container {
    padding: 3px 8px;
    margin-right: 15px;
  }

  .remove {
    top: 3px;
  }

  &.light-streamer {
    color: rgba(0, 0, 0, .85) !important;
  }
}

.article.section-divider.editing,
.article.section-divider.editing:hover {
  background: #425664;
}

// imported
.imported .article.editing,
.imported .article.editing:hover {
  background: #AAA !important;
}

// Future posts
.article.future .article-title {
  font-style: italic;
  .opacity(90);
}

.article-list {
  width: 300px;
  border-radius: 0;
  padding: (@header-height+5) 0px (@footer-height+3);
  border: 3px solid #ddd;
  margin-bottom: 20px;
  background: #fff;
  position: absolute !important;
  z-index: 1;

  // HEADER
  .header {
    color: #eee;
    background: #333;
    height: @header-height;
    line-height: @header-height;
    width: inherit;
    padding: 0;
    position: absolute;
    top: 0;
    cursor: move;
    .text-wrap();

    .title {
      font-weight: bold;
      .schedule-clock {
        color: #4693D7;
        margin-right: 3px;
      }
      &.scheduled {
        color: #4693D7;
      }
    }

    .remove, .title {
      margin: 0 8px;

      .dot {
        float: left;
        margin-left: 9px;
        margin-right: -1px;
        box-shadow: 0 0 5px #ff9;
        background: #FF9;
        border-radius: 100px;
        display: inline-block;
        height: 6px;
        width: 6px;
        margin-top: 10px;
      }
    }

    .remove, .add-section {
      font-weight: bold;
      float: right;
      font-size: 150%;
      color: rgba(255,255,255, .6);
      margin-top: -1px;
      position: relative; // Otherwise not possible to click if title is too long
    }

    .add-section {
      display: none;
      right: 16px;
      background: rgba(255,255,255, .1);
      border-radius: 200px;
      line-height: 0;
      margin: 7px -15px 0;
      padding: 6px 2px 7px;
    }

    .add-section:hover,
    .remove:hover {
      color: #FFF;
    }

  }

  // BODY
  .articles {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
   // .list-inner-margins();
  }

  // FOOTER
  .footer {
    height: (@footer-height - 6);
    padding-top: 4px;
    position: absolute;
    bottom: 0;
    .list-inner-margins();

    a, .ajax-loader {
      float: left;
      margin: 0 4px;
    }

    a.save, a.disabled {
      color: #bbb;
      cursor: default;
    }


    .fa {
      font-size: 14px;
    }

    .version {
      color: #333;
      font-size: 12px;
      cursor: pointer;
      position: absolute;
      right: 30px;

      .number {
        text-align: right;

        &:after {
          content: '\25B2';
          padding-left: 3px;
          vertical-align: middle;
        }

        &.active:after {
          content: '\25Bc';
        }
      }

      .previous-versions {
        background: #EEE;
        font-size: 10px;

        border-radius: 5px;
        box-shadow: 0 0 5px #bbb;
        height: auto;
        margin-left: 3px;
        display: none;

        li {

          padding: 6px 10px;
          margin: 0;
          color: #888;

          a.delete {
            float: right;
            font-size: 18px;
            font-weight: bold;
            margin-right: 0;
            margin-left: 10px;
            color: red;
          }

          &.separator {
            background: #666;
            color: #ddd;
            font-weight: bold;
            padding:0 6px;
            &:hover {
              background: #666;
            }
          }

          &.future {
            color: #333;
            font-weight: bold;
            text-decoration: underline;
            &.save.disabled {
              color: #999;
            }
          }
          &.selected {
            color: #333;

            &:before {
              content: '\25B6';
              padding-right: 3px;
              vertical-align: middle;
            }
          }

          &.disabled {
            color: #ccc;
          }

          &:hover {
            background-color: rgba(60, 60, 60, 0.1);
          }
        }

      }
    }

    .refresh {
      float: right;
      margin-right: 6px;
    }

    .preview, .refresh {
      color: #222;
    }

  }

  &.imported .version {
    cursor: default;
    color: #999;
  }

  .ui-resizable-handle {
    .opacity(60);
  }

}

.scheduled .version {
  .number,
  .schedule-clock {
    color: #4693D7 !important;
  }
}

.article-list.unsaved,
.article-list.active {
  background: #f6f6f6;

  .header .title {
    color: rgba(255,255,255, .9);
  }
}

.article-list.unsaved {
  .header {
    background: #222;
  }
  .title {
    text-shadow: 0px 0px 8px rgba(255,255,255, .8);
    color: #FFF !important;
  }
}

// Unsaved article list
.article-list.unsaved {
  background: #ffe;
  a.save {
    color: #222;
    cursor: pointer;
  }
  &.scheduled a.save {
    color: #4693D7;
  }
}

// Imported article list
.article-list.imported {
  .header {
    background: #777;
  }

  .article {
    opacity: 0.9;
  }

  .article.section-divider {
    background: #555;
  }
}


/*
* SORTABLE STUFF
*/
.sortable-placeholder {
    border-width: 1px;
    border-style: dashed;
    margin: 0 4px 4px;
    min-height: 26px;
}

.ui-sortable-helper>.children-transport {
  padding: 4px 0 0 0;
  margin-right: 0;
}

@iterations : 10;

.loopingClass (@index) when (@index > 0) {
  .list-item-depth-@{index} {
    margin-left: @index*(30px);
  }
  .list-item-depth-@{index} .children-transport {
    margin-left: @index*(-30px);
  }
  .loopingClass(@index - 1);
}

.loopingClass (0) {}

.loopingClass (@iterations);
