/**
* Default CSS file used to style arlima articles.
*/

/* Article teaser */
.tmpl-article {
    padding:20px 0;
    margin:0 auto;
    cursor: default;
    overflow: auto;
    border-bottom: #DDD solid 1px;
}

.tmpl-article article {
    margin: 0;
    padding: 0;
    border:0;
}

.tmpl-article:last-child {
    margin-bottom: 10px;
}

.tmpl-article:first-child {
    padding-top: 0;
}

.tmpl-article.img-full {
    overflow: visible;
    clear: none;
}

#arlima-preview {
    background: #FFF;
    padding: 12px;
}



/* * * * * * * * * * * * * *
 TMPL typography
* * * * * * * * * * * * * * */


/* links */
.tmpl-article a {
    text-decoration: none;
    color:#333;
    cursor: pointer;
}

.tmpl-article h4,
.tmpl-article h3,
.tmpl-article h2,
.tmpl-article h1 {
    font-family: Verdana, Arial, sans-serif;
    padding: 0 0 8px;
    margin: 0;
    line-height: 110%;
    clear: none;
    color: #333;
    font-weight: bold;
}

/* Serif format */
.tmpl-article.format-serif h4,
.tmpl-article.format-serif h3,
.tmpl-article.format-serif h2,
.tmpl-article.format-serif h1 {
    font-family: "Times New Roman", Times, serif;
    font-weight: normal;
    letter-spacing: -1px;
    line-height: 100%;
}

.arlima-pre-title {
    color: #de3c0e;
    text-transform: uppercase;
}

.teaser-entryword,
a.teaser-entryword {
    background: url(../images/arrow-right.gif) no-repeat left center;
    font-weight: bold;
    padding-left: 7px;
    text-decoration: none;
}

a.teaser-entryword:hover {
    text-decoration: underline;
}

.tmpl-article p {
    padding: 0;
    margin:0;
    line-height: 140%;
}

/* * * * * * * * *
 TMPL streamers
* * * * * * * * * */
.tmpl-article .streamer {
    text-align: center;
    text-transform: uppercase;
    padding: 1px;
    font-size: 24pt;
    line-height: 24pt;
    font-style: italic;
    font-family: "Arial Black", "Arial Bold", Arial, sans-serif;
    margin-bottom: 10px;
    font-weight: 900; /* FF only */
    background: #000;
    color: #FFF;
}

.tmpl-article .streamer.image {
    background: none;
    padding: 0;
    line-height: 0;
}

.tmpl-article .streamer.text {
    /* CSS for text streamers */
}

.tmpl-article.img-full .streamer {
    margin-bottom: 0;
}


/* * * * * * * * * * * * * * *
* TMPL image
* * * * * * * * * * * * * * * */
.tmpl-article img {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    box-shadow: none;
    max-width: 100%;
    margin: 0 0 5px;
    padding: 0;
    border: 0;
}

.tmpl-article img.alignleft {
    float:left;
    margin-right: 10px;
}

.tmpl-article img.alignright {
    float:right;
    margin-left: 10px;
}

.tmpl-article .streamer img {
    margin-bottom: 0;
}

.tmpl-article img.third {
    max-width: 33%;
}

.tmpl-article img.half {
    max-width: 50%;
}

.tmpl-article img.quarter {
    max-width: 25%;
}

.tmpl-article img.fifth {
    max-width: 20%;
}

.tmpl-article img.sixth {
    max-width: 15%;
}

/* * * * * * * * * * *
 TMPL child articles
* * * * * * * * * * * */
.teaser-children {
    padding-top: 16px;
    overflow: hidden;
    clear: both;
}

.teaser-children .tmpl-article {
    padding: 0;
    border: 0;
    overflow: visible;
    margin-bottom: 18px;
    clear: both;
}

.teaser-children .tmpl-article.img-half,
.teaser-children .tmpl-article.img-third,
.teaser-children .tmpl-article.img-fourth {
    overflow: auto;
}

.teaser-children .tmpl-article.teaser-split.first,
.teaser-children .tmpl-article.teaser-split.last {
    float: left;
    width: 48% !important;
    clear: none;
}

.teaser-children .tmpl-article.teaser-split.last {
    float: right;
}

.teaser-children .tmpl-article:last-child {
    margin-bottom: 0;
}

.arlima.child-wrapper {
    clear: both;
}


/* * * * * * * * * *
TMPL related posts
* * * * * * * * * * */
.teaser-related-posts {
    margin:16px 8px 8px;
    border:#F2F2F2 solid 1px;
    overflow: hidden;
    clear: both
}

.teaser-related-posts h3 {
    background: #F2F2F2;
    padding: 8px 10px;
    margin:0;
}

.teaser-related-posts ul {
    padding: 10px 10px 0;
}

.teaser-related-posts ul a {
    text-decoration: underline;
}

.teaser-related-posts ul a:hover {
    text-decoration: none;
}

.teaser-related-posts .num-comments {
    padding: 0 2px;
    margin-left: 2px;
    background: #F2F2F2;
    font-weight: bold;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    -ms-border-radius: 20px;
    border-radius: 20px;
}

/* * * * * * * * * * * * * * * * *
Giant template
* * * * * * * * * * * * * * * * */
.tmpl-article.giant {
    border-bottom: 0;
    margin-top: 10px;
    position: relative;
    height:auto;
    min-height:0;
    padding:0;
    overflow: hidden;
    line-height: 0;
}

.tmpl-giant-content {
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    background: rgba(255, 255, 255, .9);
    padding: 10px;
}

.tmpl-article.giant img {
    margin: 0;
}

/* @MQ: smaller screen */
@media screen and (max-width: 590px) {
    .tmpl-giant-content {
        left: 0;
        bottom: 0;
        width: 100%;
    }
}

/* Inverted giant */

.tmpl-article.format-inverted .tmpl-giant-content {
    background: rgba(0,0,0, .70);
    color: #FFF;
}

.tmpl-article.format-inverted p,
.tmpl-article.format-inverted h1,
.tmpl-article.format-inverted h2,
.tmpl-article.format-inverted h3,
.tmpl-article.format-inverted h1 a,
.tmpl-article.format-inverted h2 a,
.tmpl-article.format-inverted h3 a {
    color: #FFF;
}

.tmpl-article.format-inverted .teaser-entryword {
    color: #FFF;
    padding-left: 0;
    background: none;
}


/* * * * * * * * * * * * * * * * *
Link in the front page that opens
current list in wp-admin
* * * * * * * * * * * * * * * * */
.arlima-edit-list {
    border:2px dotted #E2E2E2;
    border-radius: 12px;
    margin-bottom: 12px;
    padding: 2px 2px 2px 26px;
    font-size: 14px;
    background: url(../images/arlima-icon.png) no-repeat left center #FFF;
    background-position: 6px 50%;
}

.arlima-edit-list > * {
    margin:0;
    padding: 0;
    line-height: normal;
    color: #666;
}


/* * * * * * * * * * * * * * * * *
 When displaying futute posts in
 list preview
* * * * * * * * * * * * * * * * */
.arlima.future-post {
    background: #F2F2F2;
    padding: 10px;
    margin: 10px 0;
}




/* * * * * * * * * * * *
 - Fixes for theme 2012 2011
 This is only needed when using page-arlima.php that's no
 longer shipped with the plugin.
 @todo: Remove when moving to version 3.0
* * * * * * * * * * * */

.arlima-content #content {
    margin: 0 34% 0 7.6%;
    width: 58.4%;
    position: static;
}

#primary.arlima-content {
    margin:0 -26.4% 0 0;
}

#page.site .arlima-content #content {
    margin:0;
    width: 70%;
    float: left;
}

#page.site #primary.arlima-content {
    margin: 0;
}

@media screen and (max-width: 580px) {
    #page.site .arlima-content #content {
        margin:0;
        width: auto;
        float: none;
    }
}

/*
 Font sizes
*/
.tmpl-article .fsize-0 { font-size: 0px; }
.tmpl-article .fsize-1 { font-size: 1px; }
.tmpl-article .fsize-2 { font-size: 2px; }
.tmpl-article .fsize-3 { font-size: 3px; }
.tmpl-article .fsize-4 { font-size: 4px; }
.tmpl-article .fsize-5 { font-size: 5px; }
.tmpl-article .fsize-6 { font-size: 6px; }
.tmpl-article .fsize-7 { font-size: 7px; }
.tmpl-article .fsize-8 { font-size: 8px; }
.tmpl-article .fsize-9 { font-size: 9px; }
.tmpl-article .fsize-10 { font-size: 10px; }
.tmpl-article .fsize-11 { font-size: 11px; }
.tmpl-article .fsize-12 { font-size: 12px; }
.tmpl-article .fsize-13 { font-size: 13px; }
.tmpl-article .fsize-14 { font-size: 14px; }
.tmpl-article .fsize-15 { font-size: 15px; }
.tmpl-article .fsize-16 { font-size: 16px; }
.tmpl-article .fsize-17 { font-size: 17px; }
.tmpl-article .fsize-18 { font-size: 18px; }
.tmpl-article .fsize-19 { font-size: 19px; }
.tmpl-article .fsize-20 { font-size: 20px; }
.tmpl-article .fsize-21 { font-size: 21px; }
.tmpl-article .fsize-22 { font-size: 22px; }
.tmpl-article .fsize-23 { font-size: 23px; }
.tmpl-article .fsize-24 { font-size: 24px; }
.tmpl-article .fsize-25 { font-size: 25px; }
.tmpl-article .fsize-26 { font-size: 26px; }
.tmpl-article .fsize-27 { font-size: 27px; }
.tmpl-article .fsize-28 { font-size: 28px; }
.tmpl-article .fsize-29 { font-size: 29px; }
.tmpl-article .fsize-30 { font-size: 30px; }
.tmpl-article .fsize-31 { font-size: 31px; }
.tmpl-article .fsize-32 { font-size: 32px; }
.tmpl-article .fsize-33 { font-size: 33px; }
.tmpl-article .fsize-34 { font-size: 34px; }
.tmpl-article .fsize-35 { font-size: 35px; }
.tmpl-article .fsize-36 { font-size: 36px; }
.tmpl-article .fsize-37 { font-size: 37px; }
.tmpl-article .fsize-38 { font-size: 38px; }
.tmpl-article .fsize-39 { font-size: 39px; }
.tmpl-article .fsize-40 { font-size: 40px; }
.tmpl-article .fsize-41 { font-size: 41px; }
.tmpl-article .fsize-42 { font-size: 42px; }
.tmpl-article .fsize-43 { font-size: 43px; }
.tmpl-article .fsize-44 { font-size: 44px; }
.tmpl-article .fsize-45 { font-size: 45px; }
.tmpl-article .fsize-46 { font-size: 46px; }
.tmpl-article .fsize-47 { font-size: 47px; }
.tmpl-article .fsize-48 { font-size: 48px; }
.tmpl-article .fsize-49 { font-size: 49px; }
.tmpl-article .fsize-50 { font-size: 50px; }
.tmpl-article .fsize-51 { font-size: 51px; }
.tmpl-article .fsize-52 { font-size: 52px; }
.tmpl-article .fsize-53 { font-size: 53px; }
.tmpl-article .fsize-54 { font-size: 54px; }
.tmpl-article .fsize-55 { font-size: 55px; }
.tmpl-article .fsize-56 { font-size: 56px; }
.tmpl-article .fsize-57 { font-size: 57px; }
.tmpl-article .fsize-58 { font-size: 58px; }
.tmpl-article .fsize-59 { font-size: 59px; }
.tmpl-article .fsize-60 { font-size: 60px; }
.tmpl-article .fsize-61 { font-size: 61px; }
.tmpl-article .fsize-62 { font-size: 62px; }
.tmpl-article .fsize-63 { font-size: 63px; }
.tmpl-article .fsize-64 { font-size: 64px; }
.tmpl-article .fsize-65 { font-size: 65px; }
.tmpl-article .fsize-66 { font-size: 66px; }
.tmpl-article .fsize-67 { font-size: 67px; }
.tmpl-article .fsize-68 { font-size: 68px; }
.tmpl-article .fsize-69 { font-size: 69px; }
.tmpl-article .fsize-70 { font-size: 70px; }
.tmpl-article .fsize-71 { font-size: 71px; }
.tmpl-article .fsize-72 { font-size: 72px; }
.tmpl-article .fsize-73 { font-size: 73px; }
.tmpl-article .fsize-74 { font-size: 74px; }
.tmpl-article .fsize-75 { font-size: 75px; }
.tmpl-article .fsize-76 { font-size: 76px; }
.tmpl-article .fsize-77 { font-size: 77px; }
.tmpl-article .fsize-78 { font-size: 78px; }
.tmpl-article .fsize-79 { font-size: 79px; }
.tmpl-article .fsize-80 { font-size: 80px; }
.tmpl-article .fsize-81 { font-size: 81px; }
.tmpl-article .fsize-82 { font-size: 82px; }
.tmpl-article .fsize-83 { font-size: 83px; }
.tmpl-article .fsize-84 { font-size: 84px; }
.tmpl-article .fsize-85 { font-size: 85px; }
.tmpl-article .fsize-86 { font-size: 86px; }
.tmpl-article .fsize-87 { font-size: 87px; }
.tmpl-article .fsize-88 { font-size: 88px; }
.tmpl-article .fsize-89 { font-size: 89px; }
.tmpl-article .fsize-90 { font-size: 90px; }
.tmpl-article .fsize-91 { font-size: 91px; }
.tmpl-article .fsize-92 { font-size: 92px; }
.tmpl-article .fsize-93 { font-size: 93px; }
.tmpl-article .fsize-94 { font-size: 94px; }
.tmpl-article .fsize-95 { font-size: 95px; }
.tmpl-article .fsize-96 { font-size: 96px; }
.tmpl-article .fsize-97 { font-size: 97px; }
.tmpl-article .fsize-98 { font-size: 98px; }
.tmpl-article .fsize-99 { font-size: 99px; }
.tmpl-article .fsize-100 { font-size: 100px; }

/* @MQ: smaller screen */
@media screen and (max-width: 590px) {
    .tmpl-article h1,
    .tmpl-article h2,
    .tmpl-article h3,
    .tmpl-article h4,
    .tmpl-article h5 {
        font-size: 24px !important;
        line-height: normal !important;
    }

    .tmpl-article.format-serif h4,
    .tmpl-article.format-serif h3,
    .tmpl-article.format-serif h2,
    .tmpl-article.format-serif h1 {
        font-size: 20px !important;
    }

    .teaser-children .tmpl-article.teaser-split,
    .teaser-children .tmpl-article.teaser-split.last,
    .teaser-children .tmpl-article.teaser-split.first
    {
        float: none !important;
        width: 100% !important;
    }
}