
@media screen and (max-width: 590px) {
    .tmpl-article h1,
    .tmpl-article h2,
    .tmpl-article h3,
    .tmpl-article h4,
    .tmpl-article h5 {
        font-size: 24px !important;
        line-height: normal !important;
    }

    .tmpl-article.format-serif h4,
    .tmpl-article.format-serif h3,
    .tmpl-article.format-serif h2,
    .tmpl-article.format-serif h1 {
        font-size: 20px !important;
    }

    .teaser-children .tmpl-article.teaser-split,
    .teaser-children .tmpl-article.teaser-split.last,
    .teaser-children .tmpl-article.teaser-split.first
    {
        float: none !important;
        width: 100% !important;
    }
}