<div data-post="{{post}}" class="{{class}} tmpl-article">
    <article>

        {{{article_begin}}}

        <div class="streamer-wrapper">
            {{{html_streamer}}}
        </div>

        {{image-support size="full, half, third, quarter" children-size="full, half, third"}}

        {{{html_image}}}

        {{{html_title}}}

        {{{html_content}}}

    </article>

    {{include parts/footer.tmpl}}

</div>