<div id="${container.id}" class="${container.class} tmpl-article giant" style="position: relative; height:auto; min-height:0">
    {{if image.src}}
        <img src="{{html image.src}}" />
    {{else}}
        <img src="{{html image.url}}" />
    {{/if}}
    <div class="tmpl-giant-content" style="position: absolute; bottom: 20px; left: 20px">
        {{html article.html_title}}
        {{html article.html_text}}
        {{html article_end}}
    </div>
</div>

{{if sub_articles}}
    <div class="teaser-children">
        {{html sub_articles}}
    </div>
{{/if}}