<div data-post="{{post}}" class="{{class}} tmpl-article tmpl-widget">
    <article>

        {{{html_streamer}}}

        {{{article_begin}}}

        {{image-support size="full, half, third" children-size="full, half"}}

        {{{html_image}}}

        {{#url}}
            <h4><a href="{{url}}">{{title}}</a></h4>
        {{/url}}
        {{^url}}
            <h4>{{title}}</h4>
        {{/url}}

        {{{html_content}}}

    </article>
</div>

{{{article_end}}}