{{if image}}
    <a href="${article.url}" title="${article.title}">
        {{if image.src}}
            <img src="{{html image.src}}" class="${image.image_class} ${image.image_size}" alt="" />
        {{else}}
            {{html image.html}}
        {{/if}}
    </a>
{{/if}}